.header {
  width: 700px;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.toplinks {
  margin-left: auto;
}

.nav {
  display: flex;
  gap: 5px;
  justify-content: center;
  background-color: blue;
}

.nav button {
  background: none;
  color: white;
}

.container {
  display: flex;
  width: 700px;
  margin: 0 auto;
}

.left-column {
  width: 250px;
}

.welcome,
.news,
.logos {
  margin: 15px 35px 20px 50px;
}

.welcome,
.news {
  background-color: rgb(185, 180, 180);
}

.welcome h2,
.news-header {
  background-color: gray;
  margin: 0px;
}

.welcome h2 {
  padding-left: 8px;
}

.welcome-content,
.news-content {
  padding: 10px;
}

.news-header {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.news-header a {
  margin-left: auto;
}

.news-content .container-2 {
  flex: 1;
}

.welcome-content p {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 15px;
}

.news-content {
  font-size: 15px;
  display: block;
}

.news-content p {
  text-align: right;
}

.logos img {
  width: 70px;
}

.container-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.online {
  margin-bottom: 15px;
  align-items: center;
  gap: 20px;
  display: flex;
}

.online h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.online a {
  display: inline;
  font-weight: bold;
  color: blue;
  margin-top: 8px;
}

.online p {
  font-size: 12px;
  margin-bottom: 5px;
}

.promo {
  margin-left: auto;
  background: blue;
  color: white;
  margin-right: 70px;
  border-radius: 50%;
  width: 160px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  max-width: 60%;
}

.banner {
  display: block;
  border: 1px solid rgb(138, 138, 12);
  background-color: yellow;
  padding: 10px;
  text-align: center;
}

.spotlight h3 {
  background-color: lightgray;
  padding: 5px;
}

.spotlight {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.item p {
  margin: 0;
}

.item a {
  font-weight: bold;
}

.links {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  text-align: center;
}
.copyright p {
  margin-bottom: 0;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
